<footer class="status-bar">
  @if (info(); as i) {
  <span
    >Ширина: <b>{{ i.width }}</b> px</span
  >
  <span
    >Высота: <b>{{ i.height }}</b> px</span
  >
  <span
    >Глубина: <b>{{ i.depth }}</b> бит</span
  >
  @if (i.hasMask) { <span>Маска: <b>есть</b></span> }

  <span class="scale-group">
    Масштаб:
    <input
      type="range"
      [min]="min"
      [max]="max"
      step="1"
      [value]="scale()"
      (input)="onRange(+$any($event.target).value)"
    />
    <select [value]="scale()" (change)="onPreset($any($event.target).value)">
      @for (p of presets; track p) {
      <option [value]="p">{{ p }}%</option>
      }
    </select>
    <b>{{ scale() }}%</b>
  </span>
  } @else {
  <span>Изображение не загружено</span>
  }
</footer>
